In [89]:
import random

import pandas as pd
import numpy as np
import nltk
from sqlalchemy import create_engine
from nltk.tokenize import word_tokenize
from nltk.stem.wordnet import WordNetLemmatizer
from nltk.corpus import stopwords
nltk.download('punkt')
nltk.download('wordnet')
nltk.download('stopwords')

from sklearn.model_selection import GridSearchCV
from sklearn.ensemble import RandomForestClassifier
from sklearn.model_selection import train_test_split
from sklearn.pipeline import Pipeline, FeatureUnion
from sklearn.feature_extraction.text import CountVectorizer, TfidfTransformer
from sklearn.multioutput import MultiOutputClassifier
from sklearn.metrics import classification_report
from sklearn.externals import joblib

[nltk_data] Downloading package punkt to
[nltk_data]     /Users/adrianlievano/nltk_data...
[nltk_data]   Package punkt is already up-to-date!
[nltk_data] Downloading package wordnet to
[nltk_data]     /Users/adrianlievano/nltk_data...
[nltk_data]   Package wordnet is already up-to-date!
[nltk_data] Downloading package stopwords to
[nltk_data]     /Users/adrianlievano/nltk_data...
[nltk_data]   Package stopwords is already up-to-date!

## Explore the input data

In [90]:
opportunity = {
    'industry': 'Internet',
    'min_years_experience': 3,
    'location': ['San Francisco', 'CA'],
    'highestLevelOfEducation': 'Bachelor',
    'blurb': 'I need a software engineer that has experience in pytorch, python, aws, spark, and airflow. They should want to work for a startup that has less than 500 employees. We do not want new graduates.',
    'title': 'Seeking Software Engineer (Full-Time)'
}

In [91]:
industrys = ['Internet', 'Technology', 'Enterprise Software']
min_years_experiences = [1, 2, 3, 4, 5, 6, 7]
locations = [['San Francisco', 'CA'], ['New York City', 'NY'], ['Los Angeles', 'CA']]
highestLevelOfEducations = ['High School', 'Bachelor', 'Master', 'Doctorate']
blurbs = ['I need a software engineer that has experience in pytorch, python, aws, spark, and airflow. They should want to work for a startup that has less than 500 employees. We do not want new graduates.',
          'We need a full stack machine learning engineer that knows REST APIs, flask, and tensorflow.',
          'Find me data scientist that knows SQL, tableu, excel, machine learning.', 
          'We just need a developer that has six or 7 years of experience']
titles = ['Software Engineer', 'Data Scientist', 'Machine Learning Engineer', 'Software Engineer (Machine Learning)']

df_test = pd.DataFrame()

num_opportunities = 5
rows = []

for i in range(num_opportunities):
    row_ele = {
    'industry': random.choice(industrys),
    'min_years_experience': random.choice(min_years_experiences),
    'location': random.choice(locations),
    'highestLevelOfEducation': random.choice(highestLevelOfEducations),
    'blurb': random.choice(blurbs),
    'title': random.choice(titles)
    }
    rows.append(row_ele)

## Construct Dummy Table - Opportunity Submission Table

#### This is a table with queries that a poster might use to find a candidate in their network

In [92]:
opportunities_df = pd.DataFrame(rows)
opportunities_df.head(10)

,blurb,highestLevelOfEducation,industry,location,min_years_experience,title
0,"Find me data scientist that knows SQL, tableu,...",Bachelor,Technology,"[Los Angeles, CA]",6,Software Engineer (Machine Learning)
1,We just need a developer that has six or 7 yea...,Doctorate,Internet,"[Los Angeles, CA]",5,Software Engineer (Machine Learning)
2,We just need a developer that has six or 7 yea...,Doctorate,Internet,"[Los Angeles, CA]",4,Data Scientist
3,"Find me data scientist that knows SQL, tableu,...",High School,Internet,"[San Francisco, CA]",1,Machine Learning Engineer
4,We need a full stack machine learning engineer...,Doctorate,Enterprise Software,"[San Francisco, CA]",5,Machine Learning Engineer

## Construct Dummy Table - Candidate Table

Candidate dictionary
{
    id: int
    email: 'str'
    name: 'str'
    location: list['city', 'state']
    current_position: 'str',
    years_of_experience: int
    industry: 'str'
    degree_connection: str
    degree = str
}

In [93]:
candidates_total = 10000
emails = []
names = []

for i in range(candidates_total):
    email = ('{}'+'xxxxxxx@gmail.com').format(i)
    emails.append(email)
    
for i in range(candidates_total):
    name = ('name + {}'.format(i))
    names.append(name)

In [94]:
ids = [i for i in range(candidates_total)]
emails = emails
names = names
locations = [['San Francisco', 'CA'], ['New York City', 'NY'], ['Los Angeles', 'CA'], ['Miami', 'FL']]
current_positions = ['Software Engineer', 'Data Scientist', 'Machine Learning Engineer', 'Bioengineer']
years_of_experiences = [1, 2, 3, 4, 5, 6, 7]
industrys = ['Internet', 'Technology', 'Enterprise Software', 'Biotech']
degree_connections = ['1st', '2nd']
highestLevelOfEducations = ['High School', 'Bachelor', 'Master', 'Doctorate']


candidate_rows = []

for i in range(candidates_total):
    row_ele = {
    'id': random.choice(ids),
    'email': random.choice(emails),
    'name': random.choice(names),
    'location': random.choice(locations),
    'current_position': random.choice(current_positions),
    'years_of_experience': random.choice(years_of_experiences),
    'industry': random.choice(industrys),
    'degree_connection': random.choice(degree_connections),
    'highestLevelOfEducation': random.choice(highestLevelOfEducations)
    }
    candidate_rows.append(row_ele)

In [95]:
df_candidates = pd.DataFrame(candidate_rows)
df_candidates

,current_position,degree_connection,email,highestLevelOfEducation,id,industry,location,name,years_of_experience
0,Bioengineer,1st,2347xxxxxxx@gmail.com,Master,6684,Biotech,"[San Francisco, CA]",name + 1674,6
1,Software Engineer,2nd,7421xxxxxxx@gmail.com,High School,4697,Internet,"[New York City, NY]",name + 8319,6
2,Software Engineer,1st,9351xxxxxxx@gmail.com,Master,1896,Enterprise Software,"[Miami, FL]",name + 7532,3
3,Machine Learning Engineer,2nd,4979xxxxxxx@gmail.com,High School,5326,Enterprise Software,"[San Francisco, CA]",name + 5533,4
4,Software Engineer,1st,1662xxxxxxx@gmail.com,Master,3999,Internet,"[Los Angeles, CA]",name + 7849,7
5,Software Engineer,2nd,1297xxxxxxx@gmail.com,High School,5844,Technology,"[Los Angeles, CA]",name + 5673,5
6,Machine Learning Engineer,2nd,2868xxxxxxx@gmail.com,Master,6942,Internet,"[Miami, FL]",name + 2346,7
7,Machine Learning Engineer,1st,6836xxxxxxx@gmail.com,High School,7922,Biotech,"[Miami, FL]",name + 8246,5
8,Software Engineer,1st,1270xxxxxxx@gmail.com,High School,1093,Enterprise Software,"[Los Angeles, CA]",name + 6135,1
9,Machine Learning Engineer,2nd,2016xxxxxxx@gmail.com,Bachelor,4533,Internet,"[Miami, FL]",name + 9446,3
10,Software Engineer,1st,3765xxxxxxx@gmail.com,Bachelor,7025,Internet,"[Los Angeles, CA]",name + 5752,7
11,Software Engineer,2nd,9726xxxxxxx@gmail.com,High School,8120,Enterprise Software,"[San Francisco, CA]",name + 3271,7
12,Software Engineer,1st,5679xxxxxxx@gmail.com,Master,9085,Technology,"[Los Angeles, CA]",name + 411,1
13,Data Scientist,1st,8761xxxxxxx@gmail.com,Doctorate,9302,Technology,"[New York City, NY]",name + 763,7
14,Bioengineer,1st,1572xxxxxxx@gmail.com,Doctorate,6758,Biotech,"[San Francisco, CA]",name + 4999,3
15,Bioengineer,2nd,6452xxxxxxx@gmail.com,High School,7498,Enterprise Software,"[New York City, NY]",name + 5434,2
16,Machine Learning Engineer,1st,8953xxxxxxx@gmail.com,Master,6887,Technology,"[New York City, NY]",name + 656,5
17,Software Engineer,2nd,9912xxxxxxx@gmail.com,Doctorate,4526,Internet,"[New York City, NY]",name + 4550,3
18,Machine Learning Engineer,1st,8590xxxxxxx@gmail.com,Doctorate,7991,Enterprise Software,"[Los Angeles, CA]",name + 320,4
19,Bioengineer,1st,1291xxxxxxx@gmail.com,Master,569,Internet,"[New York City, NY]",name + 1260,5
20,Data Scientist,1st,6757xxxxxxx@gmail.com,Doctorate,473,Enterprise Software,"[New York City, NY]",name + 8813,6
21,Machine Learning Engineer,2nd,1972xxxxxxx@gmail.com,Bachelor,4030,Enterprise Software,"[New York City, NY]",name + 6720,6
22,Machine Learning Engineer,1st,7125xxxxxxx@gmail.com,Doctorate,8838,Enterprise Software,"[San Francisco, CA]",name + 3112,4
23,Software Engineer,2nd,8129xxxxxxx@gmail.com,Doctorate,432,Internet,"[Miami, FL]",name + 6955,5
24,Data Scientist,1st,8499xxxxxxx@gmail.com,Doctorate,209,Enterprise Software,"[New York City, NY]",name + 5021,4
25,Machine Learning Engineer,1st,9908xxxxxxx@gmail.com,Master,3850,Technology,"[San Francisco, CA]",name + 8282,6
26,Data Scientist,1st,7972xxxxxxx@gmail.com,High School,9213,Technology,"[San Francisco, CA]",name + 6010,5
27,Software Engineer,2nd,765xxxxxxx@gmail.com,Bachelor,4361,Internet,"[San Francisco, CA]",name + 5717,3
28,Bioengineer,1st,7877xxxxxxx@gmail.com,Doctorate,3517,Enterprise Software,"[San Francisco, CA]",name + 9855,2
29,Software Engineer,2nd,6385xxxxxxx@gmail.com,Bachelor,9889,Biotech,"[San Francisco, CA]",name + 3189,7
...,...,...,...,...,...,...,...,...,...
9970,Software Engineer,1st,9342xxxxxxx@gmail.com,Master,7374,Enterprise Software,"[Los Angeles, CA]",name + 3254,6
9971,Data Scientist,2nd,3198xxxxxxx@gmail.com,Master,3860,Internet,"[Los Angeles, CA]",name + 6323,4
9972,Machine Learning Engineer,1st,3417xxxxxxx@gmail.com,Bachelor,2115,Biotech,"[San Francisco, CA]",name + 8515,5
9973,Machine Learning Engineer,1st,3396xxxxxxx@gmail.com,High School,8778,Biotech,"[Los Angeles, CA]",name + 1907,3
9974,Data Scientist,2nd,2267xxxxxxx@gmail.com,Doctorate,3302,Enterprise Software,"[San Francisco, CA]",name + 8500,1
9975,Software Engineer,1st,6784xxxxxxx@gmail.com,Master,612,Internet,"[Miami, FL]",name + 7774,3
9976,Software Engineer,2nd,6652xxxxxxx@gmail.com,Bachelor,3457,Biotech,"[Miami, FL]",name + 9688,7
9977,Data Scientist,2nd,5167xxxxxxx@gmail.com,Doctorate,3156,Technology,"[Los Angeles, CA]",name + 8152,6
9978,Software Engineer,2nd,5884xxxxxxx@gmail.com,Master,4300,Enterprise Software,"[Los Angeles, CA]",name + 472,4
9979,Data Scientist,1st,6539xxxxxxx@gmail.com,Master,6173,Biotech,"[San Francisco, CA]",name + 6286,4
9980,Software Engineer,2nd,1059xxxxxxx@gmail.com,High School,4166,Biotech,"[Miami, FL]",name + 7715,7
9981,Software Engineer,1st,2599xxxxxxx@gmail.com,Bachelor,149,Technology,"[Los Angeles, CA]",name + 7795,4
9982,Machine Learning Engineer,1st,3110xxxxxxx@gmail.com,High School,4568,Enterprise Software,"[New York City, NY]",name + 4315,5
9983,Bioengineer,1st,9260xxxxxxx@gmail.com,Master,2873,Biotech,"[Los Angeles, CA]",name + 8148,2
9984,Data Scientist,2nd,2626xxxxxxx@gmail.com,Bachelor,8161,Technology,"[Los Angeles, CA]",name + 6911,1
9985,Software Engineer,1st,7285xxxxxxx@gmail.com,Doctorate,2862,Biotech,"[San Francisco, CA]",name + 7121,7
9986,Data Scientist,2nd,8128xxxxxxx@gmail.com,Master,1327,Enterprise Software,"[Los Angeles, CA]",name + 3456,5
9987,Software Engineer,1st,3149xxxxxxx@gmail.com,Bachelor,7522,Enterprise Software,"[Los Angeles, CA]",name + 2153,1
9988,Bioengineer,1st,517xxxxxxx@gmail.com,Doctorate,9074,Enterprise Software,"[Los Angeles, CA]",name + 528,5
9989,Machine Learning Engineer,1st,1492xxxxxxx@gmail.com,Doctorate,4198,Biotech,"[New York City, NY]",name + 5006,6
9990,Data Scientist,1st,646xxxxxxx@gmail.com,Bachelor,4377,Internet,"[Los Angeles, CA]",name + 1507,3
9991,Software Engineer,2nd,9636xxxxxxx@gmail.com,Master,5051,Internet,"[Miami, FL]",name + 8541,1
9992,Data Scientist,2nd,1079xxxxxxx@gmail.com,Master,9977,Technology,"[Miami, FL]",name + 4559,5
9993,Software Engineer,2nd,2319xxxxxxx@gmail.com,High School,8534,Technology,"[Miami, FL]",name + 899,4
9994,Data Scientist,2nd,7368xxxxxxx@gmail.com,Master,4845,Enterprise Software,"[San Francisco, CA]",name + 6144,7
9995,Software Engineer,1st,848xxxxxxx@gmail.com,Master,3,Biotech,"[Miami, FL]",name + 915,5
9996,Machine Learning Engineer,1st,6399xxxxxxx@gmail.com,Master,7865,Technology,"[San Francisco, CA]",name + 9533,3
9997,Software Engineer,2nd,1518xxxxxxx@gmail.com,High School,4487,Technology,"[Los Angeles, CA]",name + 5926,7
9998,Data Scientist,1st,6567xxxxxxx@gmail.com,High School,1669,Internet,"[Miami, FL]",name + 4066,2
9999,Machine Learning Engineer,2nd,1861xxxxxxx@gmail.com,Bachelor,6009,Internet,"[New York City, NY]",name + 857,5

### Phase 1: Knowledge Based Heuristic ###

1. Filter 1: Filter by location
2. Filter 2: Filter by >= years of experience
3. Filter 3: Filter subset by title embeddings
4. Filter 4: Filter by degrees
5. Filter 5: Filter by industry
6. Filter 6: Filter by blurb

Create score column in candidate table that assigns reward for each applicable filter

In [96]:
opportunity_sample_request = opportunities_df.iloc[0]
opportunity_sample_request.head() #pandas series

blurb                      Find me data scientist that knows SQL, tableu,...
highestLevelOfEducation                                             Bachelor
industry                                                          Technology
location                                                   [Los Angeles, CA]
min_years_experience                                                       6
Name: 0, dtype: object

In [97]:
opportunity_sample_request['location']

['Los Angeles', 'CA']

In [98]:
opportunity_sample_request['min_years_experience']

6

In [99]:
(opportunity_sample_request['location'])

['Los Angeles', 'CA']

## Filter based on location

df_candidates[(df_candidates['city'] == opportunity_sample_request['location'][0]) & ( 
              df_candidates['state'] == opportunity_sample_request['location'][1])]

## Filter based on current_position - (TBD)

opportunity_sample_request['current_position']

df_candidates[df_candidates['current_position'] == str(opportunity_sample_request['current_position'])].head()

## Filter based on Degree

## Filter based on degree major

In [100]:
df_candidates[df_candidates['highestLevelOfEducation'] == str(opportunity_sample_request['highestLevelOfEducation'])].head()

,current_position,degree_connection,email,highestLevelOfEducation,id,industry,location,name,years_of_experience
9,Machine Learning Engineer,2nd,2016xxxxxxx@gmail.com,Bachelor,4533,Internet,"[Miami, FL]",name + 9446,3
10,Software Engineer,1st,3765xxxxxxx@gmail.com,Bachelor,7025,Internet,"[Los Angeles, CA]",name + 5752,7
21,Machine Learning Engineer,2nd,1972xxxxxxx@gmail.com,Bachelor,4030,Enterprise Software,"[New York City, NY]",name + 6720,6
27,Software Engineer,2nd,765xxxxxxx@gmail.com,Bachelor,4361,Internet,"[San Francisco, CA]",name + 5717,3
29,Software Engineer,2nd,6385xxxxxxx@gmail.com,Bachelor,9889,Biotech,"[San Francisco, CA]",name + 3189,7

## Sort by degree connection

In [101]:
df_candidates.sort_values(by = 'degree_connection', ascending = True).head()

,current_position,degree_connection,email,highestLevelOfEducation,id,industry,location,name,years_of_experience
0,Bioengineer,1st,2347xxxxxxx@gmail.com,Master,6684,Biotech,"[San Francisco, CA]",name + 1674,6
5822,Data Scientist,1st,9513xxxxxxx@gmail.com,Master,9193,Enterprise Software,"[Los Angeles, CA]",name + 3005,2
8262,Data Scientist,1st,4672xxxxxxx@gmail.com,High School,2050,Internet,"[New York City, NY]",name + 9276,1
5823,Software Engineer,1st,1366xxxxxxx@gmail.com,Master,781,Technology,"[Los Angeles, CA]",name + 1098,6
5824,Data Scientist,1st,8342xxxxxxx@gmail.com,Bachelor,1253,Enterprise Software,"[San Francisco, CA]",name + 2136,6

## Filter by years experience

In [102]:
df_candidates[df_candidates['years_of_experience'] >= int(opportunity_sample_request['min_years_experience'])].head()

,current_position,degree_connection,email,highestLevelOfEducation,id,industry,location,name,years_of_experience
0,Bioengineer,1st,2347xxxxxxx@gmail.com,Master,6684,Biotech,"[San Francisco, CA]",name + 1674,6
1,Software Engineer,2nd,7421xxxxxxx@gmail.com,High School,4697,Internet,"[New York City, NY]",name + 8319,6
4,Software Engineer,1st,1662xxxxxxx@gmail.com,Master,3999,Internet,"[Los Angeles, CA]",name + 7849,7
6,Machine Learning Engineer,2nd,2868xxxxxxx@gmail.com,Master,6942,Internet,"[Miami, FL]",name + 2346,7
10,Software Engineer,1st,3765xxxxxxx@gmail.com,Bachelor,7025,Internet,"[Los Angeles, CA]",name + 5752,7

# Heuristic 1: Knowledge Based Recommendation System

In [103]:
def heuristic_one(opportunity_request, df_candidates):
    '''Arguments:
            opportunity: a dictionary from a poster seeking candidates
            df_candidates: total pool of 1st and 2nd degree connections from the opportunity poster
            
        OUTPUTS:
        ranked dataframe based on simple heuristic of filters
    '''
    blurb = opportunity_request['blurb']
    highestLevelOfEducation = opportunity_request['highestLevelOfEducation']
    industry = opportunity_request['industry']
    years_exp = opportunity_sample_request['min_years_experience']
    df_candidates['city'] = df_candidates['location'].str[0]
    df_candidates['state'] = df_candidates['location'].str[1]
    
    #rank based on blurb relevance score 
    
    #filter based on years experience 
    ranked_df = df_candidates[df_candidates['years_of_experience'] >= int(opportunity_sample_request['min_years_experience'])].head()

    #filter based on location
    ranked_df = ranked_df[(ranked_df['city'] == opportunity_sample_request['location'][0]) & ( 
              ranked_df['state'] == opportunity_sample_request['location'][1])]
    
    #filter based on match to degree
   # ranked_df = ranked_df[ranked_df['highestLevelOfEducation'] == str(opportunity_sample_request['highestLevelOfEducation'])].head()
    
    ranked_df = ranked_df.sort_values(by = 'degree_connection', ascending = True).reset_index().drop(['index'], axis = True)
    return ranked_df

In [104]:
opportunity_sample_request = opportunities_df.iloc[1]

heuristic_one(opportunity_request=opportunity_sample_request, df_candidates=df_candidates)

,current_position,degree_connection,email,highestLevelOfEducation,id,industry,location,name,years_of_experience,city,state
0,Software Engineer,1st,1662xxxxxxx@gmail.com,Master,3999,Internet,"[Los Angeles, CA]",name + 7849,7,Los Angeles,CA
1,Software Engineer,2nd,1297xxxxxxx@gmail.com,High School,5844,Technology,"[Los Angeles, CA]",name + 5673,5,Los Angeles,CA

# Heuristic Two: NLP Driven Score Metric for Relevance + No Filters (All Score Based) - Neighborhood Based Collaborative Filtering

In [116]:
opportunity_sample_request

blurb                      We just need a developer that has six or 7 yea...
highestLevelOfEducation                                            Doctorate
industry                                                            Internet
location                                                   [Los Angeles, CA]
min_years_experience                                                       5
title                                   Software Engineer (Machine Learning)
Name: 1, dtype: object

### Opportunity title to current position - similarity score

In [164]:
tokens = word_tokenize(opportunity_sample_request['title'])
tokens

cleaned_tokens = []

for tok in tokens:
    cleaned_tokens.append(tok.lower())

cleaned_tokens

['software', 'engineer', '(', 'machine', 'learning', ')']

### Blurb embeddeding score to text info

### Location score function - similarity score

Distance based similarily score

In [127]:
def location_point_converter(location):
    if location == opportunity_sample_request['location']:
        return -1
    else:
        return 0
    

df_candidates['location_eucld_score'] = df_candidates['location'].apply(location_point_converter)

### Years of Experience Score - similarity score

In [128]:
df_candidates['years_of_experience_eucld_dist'] = df_candidates['years_of_experience'].apply(lambda x: np.linalg.norm(x-opportunity_sample_request['min_years_experience']))

### Euclidean Distance for Education Level

In [129]:
df_candidates['highestLevelOfEducation_eucld_dist'] = 0

In [130]:
def educonverter(education_level):
    if education_level == 'High School':
        return 1
    elif education_level == 'Bachelor':
        return 2
    elif education_level == 'Master':
        return 3
    elif education_level == 'Doctorate':
        return 4

In [131]:
df_candidates['edunum'] = df_candidates['highestLevelOfEducation'].apply(educonverter)

In [132]:
df_candidates['highestLevelOfEducation_eucld_dist'] = df_candidates['edunum'].apply(lambda x: np.linalg.norm(x-educonverter(opportunity_sample_request['highestLevelOfEducation'])))

### Calculate Total Similarity Score

In [133]:
df_candidates['eucld_dist'] = df_candidates['highestLevelOfEducation_eucld_dist'] + df_candidates['years_of_experience_eucld_dist'] + df_candidates['location_eucld_score']

#### Sort by Euclidean Distance - Less means they are closer in similarity

In [138]:
n_top = 5000
ranked_df = df_candidates.sort_values(by = 'eucld_dist', ascending = True).reset_index().drop(['index', 'edunum'], axis = 1)
ranked_df.iloc[0:n_top].sort_values(by = 'degree_connection', ascending = True)

,current_position,degree_connection,email,highestLevelOfEducation,id,industry,location,name,years_of_experience,city,state,highestLevelOfEducation_eucld_dist,location_eucld_score,years_of_experience_eucld_dist,eucld_dist
0,Data Scientist,1st,8623xxxxxxx@gmail.com,Doctorate,2075,Biotech,"[Los Angeles, CA]",name + 2812,5,Los Angeles,CA,0.0,-1,0.0,-1.0
2800,Machine Learning Engineer,1st,3480xxxxxxx@gmail.com,Doctorate,5943,Enterprise Software,"[San Francisco, CA]",name + 1280,7,San Francisco,CA,0.0,0,2.0,2.0
2802,Machine Learning Engineer,1st,1384xxxxxxx@gmail.com,Master,6306,Internet,"[Miami, FL]",name + 6583,4,Miami,FL,1.0,0,1.0,2.0
2803,Machine Learning Engineer,1st,1194xxxxxxx@gmail.com,Bachelor,1250,Internet,"[Los Angeles, CA]",name + 8319,6,Los Angeles,CA,2.0,-1,1.0,2.0
2804,Software Engineer,1st,6683xxxxxxx@gmail.com,Master,263,Technology,"[New York City, NY]",name + 8318,6,New York City,NY,1.0,0,1.0,2.0
2805,Data Scientist,1st,5501xxxxxxx@gmail.com,Master,8065,Internet,"[Miami, FL]",name + 1934,4,Miami,FL,1.0,0,1.0,2.0
2806,Bioengineer,1st,8722xxxxxxx@gmail.com,Bachelor,2953,Enterprise Software,"[Miami, FL]",name + 7053,5,Miami,FL,2.0,0,0.0,2.0
2808,Software Engineer,1st,3511xxxxxxx@gmail.com,Bachelor,1648,Internet,"[Miami, FL]",name + 8663,5,Miami,FL,2.0,0,0.0,2.0
2810,Machine Learning Engineer,1st,3716xxxxxxx@gmail.com,Bachelor,6614,Technology,"[San Francisco, CA]",name + 5637,5,San Francisco,CA,2.0,0,0.0,2.0
2812,Machine Learning Engineer,1st,8948xxxxxxx@gmail.com,Bachelor,110,Biotech,"[San Francisco, CA]",name + 4011,5,San Francisco,CA,2.0,0,0.0,2.0
2813,Bioengineer,1st,6777xxxxxxx@gmail.com,Doctorate,4396,Biotech,"[Miami, FL]",name + 1298,3,Miami,FL,0.0,0,2.0,2.0
2799,Software Engineer,1st,8007xxxxxxx@gmail.com,Master,5889,Internet,"[San Francisco, CA]",name + 7082,4,San Francisco,CA,1.0,0,1.0,2.0
2818,Data Scientist,1st,6181xxxxxxx@gmail.com,Master,8564,Internet,"[Los Angeles, CA]",name + 4674,7,Los Angeles,CA,1.0,-1,2.0,2.0
2827,Data Scientist,1st,1906xxxxxxx@gmail.com,Master,7681,Technology,"[San Francisco, CA]",name + 1535,6,San Francisco,CA,1.0,0,1.0,2.0
2828,Data Scientist,1st,1374xxxxxxx@gmail.com,Master,6291,Internet,"[New York City, NY]",name + 2783,4,New York City,NY,1.0,0,1.0,2.0
2832,Software Engineer,1st,9305xxxxxxx@gmail.com,High School,3719,Biotech,"[Los Angeles, CA]",name + 4181,5,Los Angeles,CA,3.0,-1,0.0,2.0
2833,Bioengineer,1st,7590xxxxxxx@gmail.com,Doctorate,9850,Technology,"[New York City, NY]",name + 517,7,New York City,NY,0.0,0,2.0,2.0
2836,Software Engineer,1st,9287xxxxxxx@gmail.com,Bachelor,3517,Biotech,"[Miami, FL]",name + 5721,5,Miami,FL,2.0,0,0.0,2.0
2838,Bioengineer,1st,7631xxxxxxx@gmail.com,Bachelor,8506,Enterprise Software,"[Los Angeles, CA]",name + 8703,4,Los Angeles,CA,2.0,-1,1.0,2.0
2839,Bioengineer,1st,1138xxxxxxx@gmail.com,Bachelor,5774,Technology,"[San Francisco, CA]",name + 8287,5,San Francisco,CA,2.0,0,0.0,2.0
2843,Machine Learning Engineer,1st,6125xxxxxxx@gmail.com,Doctorate,7795,Technology,"[Miami, FL]",name + 1925,3,Miami,FL,0.0,0,2.0,2.0
2844,Bioengineer,1st,3727xxxxxxx@gmail.com,Bachelor,8305,Biotech,"[Los Angeles, CA]",name + 3123,4,Los Angeles,CA,2.0,-1,1.0,2.0
2845,Machine Learning Engineer,1st,2286xxxxxxx@gmail.com,High School,3097,Internet,"[Los Angeles, CA]",name + 2715,5,Los Angeles,CA,3.0,-1,0.0,2.0
2819,Data Scientist,1st,3877xxxxxxx@gmail.com,Doctorate,8486,Internet,"[Los Angeles, CA]",name + 1173,2,Los Angeles,CA,0.0,-1,3.0,2.0
2798,Software Engineer,1st,5473xxxxxxx@gmail.com,Bachelor,9998,Internet,"[Los Angeles, CA]",name + 6173,4,Los Angeles,CA,2.0,-1,1.0,2.0
2793,Data Scientist,1st,9304xxxxxxx@gmail.com,Doctorate,5449,Technology,"[New York City, NY]",name + 1508,3,New York City,NY,0.0,0,2.0,2.0
2792,Data Scientist,1st,5889xxxxxxx@gmail.com,Bachelor,8113,Internet,"[Los Angeles, CA]",name + 7425,4,Los Angeles,CA,2.0,-1,1.0,2.0
2740,Software Engineer,1st,6291xxxxxxx@gmail.com,Master,6860,Technology,"[San Francisco, CA]",name + 3747,6,San Francisco,CA,1.0,0,1.0,2.0
2741,Software Engineer,1st,9803xxxxxxx@gmail.com,Doctorate,1342,Biotech,"[New York City, NY]",name + 1662,7,New York City,NY,0.0,0,2.0,2.0
2743,Machine Learning Engineer,1st,8450xxxxxxx@gmail.com,Doctorate,3309,Internet,"[Miami, FL]",name + 3059,3,Miami,FL,0.0,0,2.0,2.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3008,Software Engineer,2nd,1195xxxxxxx@gmail.com,Bachelor,3792,Enterprise Software,"[New York City, NY]",name + 4978,5,New York City,NY,2.0,0,0.0,2.0
3009,Software Engineer,2nd,2557xxxxxxx@gmail.com,Master,2234,Technology,"[New York City, NY]",name + 1620,4,New York City,NY,1.0,0,1.0,2.0
1038,Machine Learning Engineer,2nd,9701xxxxxxx@gmail.com,Master,2975,Technology,"[Los Angeles, CA]",name + 8091,6,Los Angeles,CA,1.0,-1,1.0,1.0
1037,Data Scientist,2nd,9368xxxxxxx@gmail.com,Master,2599,Internet,"[San Francisco, CA]",name + 5297,5,San Francisco,CA,1.0,0,0.0,1.0
3012,Software Engineer,2nd,9006xxxxxxx@gmail.com,Bachelor,9513,Technology,"[New York City, NY]",name + 5390,5,New York City,NY,2.0,0,0.0,2.0
1036,Software Engineer,2nd,7036xxxxxxx@gmail.com,Master,3930,Biotech,"[New York City, NY]",name + 6759,5,New York City,NY,1.0,0,0.0,1.0
3004,Bioengineer,2nd,2477xxxxxxx@gmail.com,Master,3759,Enterprise Software,"[Los Angeles, CA]",name + 2251,3,Los Angeles,CA,1.0,-1,2.0,2.0
1070,Bioengineer,2nd,9244xxxxxxx@gmail.com,Master,5213,Biotech,"[Los Angeles, CA]",name + 6601,6,Los Angeles,CA,1.0,-1,1.0,1.0
2983,Software Engineer,2nd,6340xxxxxxx@gmail.com,Bachelor,5592,Technology,"[Miami, FL]",name + 865,5,Miami,FL,2.0,0,0.0,2.0
1061,Data Scientist,2nd,1369xxxxxxx@gmail.com,Doctorate,978,Technology,"[New York City, NY]",name + 5390,4,New York City,NY,0.0,0,1.0,1.0
2961,Software Engineer,2nd,8912xxxxxxx@gmail.com,Master,3129,Technology,"[Los Angeles, CA]",name + 653,3,Los Angeles,CA,1.0,-1,2.0,2.0
2962,Machine Learning Engineer,2nd,4008xxxxxxx@gmail.com,Master,5484,Internet,"[San Francisco, CA]",name + 3584,6,San Francisco,CA,1.0,0,1.0,2.0
2963,Machine Learning Engineer,2nd,4609xxxxxxx@gmail.com,Bachelor,3471,Internet,"[Miami, FL]",name + 3428,5,Miami,FL,2.0,0,0.0,2.0
2964,Software Engineer,2nd,6595xxxxxxx@gmail.com,Master,9323,Enterprise Software,"[San Francisco, CA]",name + 8832,4,San Francisco,CA,1.0,0,1.0,2.0
1067,Data Scientist,2nd,3343xxxxxxx@gmail.com,Doctorate,1377,Internet,"[San Francisco, CA]",name + 3479,6,San Francisco,CA,0.0,0,1.0,1.0
2966,Bioengineer,2nd,5353xxxxxxx@gmail.com,Doctorate,8983,Internet,"[Miami, FL]",name + 5222,7,Miami,FL,0.0,0,2.0,2.0
1066,Bioengineer,2nd,4206xxxxxxx@gmail.com,Bachelor,4054,Enterprise Software,"[Los Angeles, CA]",name + 479,5,Los Angeles,CA,2.0,-1,0.0,1.0
2968,Bioengineer,2nd,2600xxxxxxx@gmail.com,Bachelor,6888,Enterprise Software,"[Los Angeles, CA]",name + 7730,6,Los Angeles,CA,2.0,-1,1.0,2.0
1060,Bioengineer,2nd,6281xxxxxxx@gmail.com,Doctorate,2814,Biotech,"[Miami, FL]",name + 8073,6,Miami,FL,0.0,0,1.0,1.0
2969,Data Scientist,2nd,7701xxxxxxx@gmail.com,Master,5863,Technology,"[Miami, FL]",name + 1611,6,Miami,FL,1.0,0,1.0,2.0
2971,Data Scientist,2nd,2913xxxxxxx@gmail.com,Master,2277,Internet,"[San Francisco, CA]",name + 8497,6,San Francisco,CA,1.0,0,1.0,2.0
1065,Machine Learning Engineer,2nd,1596xxxxxxx@gmail.com,Doctorate,2338,Enterprise Software,"[New York City, NY]",name + 8379,4,New York City,NY,0.0,0,1.0,1.0
2974,Data Scientist,2nd,8248xxxxxxx@gmail.com,Master,2488,Biotech,"[Miami, FL]",name + 4863,4,Miami,FL,1.0,0,1.0,2.0
2975,Bioengineer,2nd,7758xxxxxxx@gmail.com,Doctorate,9019,Technology,"[Miami, FL]",name + 3540,7,Miami,FL,0.0,0,2.0,2.0
1063,Bioengineer,2nd,3730xxxxxxx@gmail.com,Bachelor,5997,Technology,"[Los Angeles, CA]",name + 9393,5,Los Angeles,CA,2.0,-1,0.0,1.0
2978,Software Engineer,2nd,8363xxxxxxx@gmail.com,Master,813,Enterprise Software,"[Los Angeles, CA]",name + 7192,7,Los Angeles,CA,1.0,-1,2.0,2.0
2979,Software Engineer,2nd,5255xxxxxxx@gmail.com,Bachelor,935,Technology,"[New York City, NY]",name + 5963,5,New York City,NY,2.0,0,0.0,2.0
2980,Machine Learning Engineer,2nd,4140xxxxxxx@gmail.com,Master,4333,Internet,"[New York City, NY]",name + 2117,4,New York City,NY,1.0,0,1.0,2.0
2970,Data Scientist,2nd,4116xxxxxxx@gmail.com,Doctorate,2468,Internet,"[New York City, NY]",name + 7545,3,New York City,NY,0.0,0,2.0,2.0
2499,Machine Learning Engineer,2nd,4285xxxxxxx@gmail.com,Master,3797,Enterprise Software,"[Miami, FL]",name + 5462,6,Miami,FL,1.0,0,1.0,2.0

In [139]:
def location_point_converter(location):
    if location == opportunity_sample_request['location']:
        return -1
    else:
        return 0

def educonverter(education_level):
    if education_level == 'High School':
        return 1
    elif education_level == 'Bachelor':
        return 2
    elif education_level == 'Master':
        return 3
    elif education_level == 'Doctorate':
        return 4

In [152]:
def heuristic_two(opp_request, df_candidates, n_top = 50): 
    '''Arguments:
            opportunity: a dictionary from a poster seeking candidates
            df_candidates: total pool of 1st and 2nd degree connections from the opportunity poster
    Returns:
        ranked dataframe of users and similarity score sorted by degree connection
    '''
    
    def location_point_converter(location):
        if location == opp_request['location']:
            return -1
        else:
            return 0
    
    #Calculate Location Similarity Score 
    df_candidates['location_eucld_score'] = df_candidates['location'].apply(location_point_converter)

    #Calculate Years of Experience Similarity Score
    df_candidates['years_of_experience_eucld_dist'] = df_candidates['years_of_experience'].apply(lambda x: np.linalg.norm(x-opp_request['min_years_experience']))

    #Calculate Level of Education Similarity Score
    df_candidates['edunum'] = df_candidates['highestLevelOfEducation'].apply(educonverter)
    df_candidates['highestLevelOfEducation_eucld_dist'] = df_candidates['edunum'].apply(lambda x: np.linalg.norm(x-educonverter(opp_request['highestLevelOfEducation'])))
    
    #Calculate Total Similarity Score
    df_candidates['eucld_dist'] = df_candidates['highestLevelOfEducation_eucld_dist'] + df_candidates['years_of_experience_eucld_dist'] + df_candidates['location_eucld_score']
    
    
    print(opp_request)
    print('')
    ranked_df = df_candidates.sort_values(by = ['eucld_dist', 'degree_connection'], ascending = True).reset_index().drop(['index', 'edunum'], axis = 1)
    
    
    return ranked_df.iloc[0:n_top] #ranked_df.iloc[0:n_top].sort_values(by = 'degree_connection', ascending = True)

In [153]:
heuristic_two(opportunity_sample_request, df_candidates)

blurb                      We just need a developer that has six or 7 yea...
highestLevelOfEducation                                            Doctorate
industry                                                            Internet
location                                                   [Los Angeles, CA]
min_years_experience                                                       5
title                                   Software Engineer (Machine Learning)
Name: 1, dtype: object

,current_position,degree_connection,email,highestLevelOfEducation,id,industry,location,name,years_of_experience,city,state,highestLevelOfEducation_eucld_dist,location_eucld_score,years_of_experience_eucld_dist,eucld_dist
0,Software Engineer,1st,1078xxxxxxx@gmail.com,Doctorate,6828,Technology,"[Los Angeles, CA]",name + 7413,5,Los Angeles,CA,0.0,-1,0.0,-1.0
1,Bioengineer,1st,3537xxxxxxx@gmail.com,Doctorate,7397,Technology,"[Los Angeles, CA]",name + 7565,5,Los Angeles,CA,0.0,-1,0.0,-1.0
2,Bioengineer,1st,9832xxxxxxx@gmail.com,Doctorate,1490,Technology,"[Los Angeles, CA]",name + 205,5,Los Angeles,CA,0.0,-1,0.0,-1.0
3,Software Engineer,1st,6207xxxxxxx@gmail.com,Doctorate,320,Enterprise Software,"[Los Angeles, CA]",name + 7359,5,Los Angeles,CA,0.0,-1,0.0,-1.0
4,Machine Learning Engineer,1st,5373xxxxxxx@gmail.com,Doctorate,9255,Enterprise Software,"[Los Angeles, CA]",name + 9670,5,Los Angeles,CA,0.0,-1,0.0,-1.0
5,Data Scientist,1st,8000xxxxxxx@gmail.com,Doctorate,4670,Internet,"[Los Angeles, CA]",name + 394,5,Los Angeles,CA,0.0,-1,0.0,-1.0
6,Data Scientist,1st,4063xxxxxxx@gmail.com,Doctorate,5323,Enterprise Software,"[Los Angeles, CA]",name + 6778,5,Los Angeles,CA,0.0,-1,0.0,-1.0
7,Machine Learning Engineer,1st,4472xxxxxxx@gmail.com,Doctorate,9089,Biotech,"[Los Angeles, CA]",name + 9456,5,Los Angeles,CA,0.0,-1,0.0,-1.0
8,Machine Learning Engineer,1st,3857xxxxxxx@gmail.com,Doctorate,5169,Biotech,"[Los Angeles, CA]",name + 3228,5,Los Angeles,CA,0.0,-1,0.0,-1.0
9,Software Engineer,1st,3459xxxxxxx@gmail.com,Doctorate,1133,Biotech,"[Los Angeles, CA]",name + 9272,5,Los Angeles,CA,0.0,-1,0.0,-1.0
10,Bioengineer,1st,6577xxxxxxx@gmail.com,Doctorate,7477,Internet,"[Los Angeles, CA]",name + 2235,5,Los Angeles,CA,0.0,-1,0.0,-1.0
11,Software Engineer,1st,4610xxxxxxx@gmail.com,Doctorate,6566,Internet,"[Los Angeles, CA]",name + 2973,5,Los Angeles,CA,0.0,-1,0.0,-1.0
12,Machine Learning Engineer,1st,8719xxxxxxx@gmail.com,Doctorate,9373,Internet,"[Los Angeles, CA]",name + 4622,5,Los Angeles,CA,0.0,-1,0.0,-1.0
13,Bioengineer,1st,2672xxxxxxx@gmail.com,Doctorate,8230,Technology,"[Los Angeles, CA]",name + 2022,5,Los Angeles,CA,0.0,-1,0.0,-1.0
14,Machine Learning Engineer,1st,1050xxxxxxx@gmail.com,Doctorate,5611,Biotech,"[Los Angeles, CA]",name + 2414,5,Los Angeles,CA,0.0,-1,0.0,-1.0
15,Machine Learning Engineer,1st,137xxxxxxx@gmail.com,Doctorate,3858,Enterprise Software,"[Los Angeles, CA]",name + 9685,5,Los Angeles,CA,0.0,-1,0.0,-1.0
16,Machine Learning Engineer,1st,9835xxxxxxx@gmail.com,Doctorate,4167,Internet,"[Los Angeles, CA]",name + 9175,5,Los Angeles,CA,0.0,-1,0.0,-1.0
17,Bioengineer,1st,6562xxxxxxx@gmail.com,Doctorate,6284,Technology,"[Los Angeles, CA]",name + 3420,5,Los Angeles,CA,0.0,-1,0.0,-1.0
18,Machine Learning Engineer,1st,3708xxxxxxx@gmail.com,Doctorate,3455,Internet,"[Los Angeles, CA]",name + 9273,5,Los Angeles,CA,0.0,-1,0.0,-1.0
19,Data Scientist,1st,2659xxxxxxx@gmail.com,Doctorate,3189,Internet,"[Los Angeles, CA]",name + 7785,5,Los Angeles,CA,0.0,-1,0.0,-1.0
20,Bioengineer,1st,1824xxxxxxx@gmail.com,Doctorate,8416,Technology,"[Los Angeles, CA]",name + 7218,5,Los Angeles,CA,0.0,-1,0.0,-1.0
21,Bioengineer,1st,2639xxxxxxx@gmail.com,Doctorate,1214,Enterprise Software,"[Los Angeles, CA]",name + 9923,5,Los Angeles,CA,0.0,-1,0.0,-1.0
22,Machine Learning Engineer,1st,7301xxxxxxx@gmail.com,Doctorate,2068,Internet,"[Los Angeles, CA]",name + 6521,5,Los Angeles,CA,0.0,-1,0.0,-1.0
23,Data Scientist,1st,6886xxxxxxx@gmail.com,Doctorate,1635,Biotech,"[Los Angeles, CA]",name + 2183,5,Los Angeles,CA,0.0,-1,0.0,-1.0
24,Data Scientist,1st,8749xxxxxxx@gmail.com,Doctorate,7818,Internet,"[Los Angeles, CA]",name + 3942,5,Los Angeles,CA,0.0,-1,0.0,-1.0
25,Machine Learning Engineer,1st,1321xxxxxxx@gmail.com,Doctorate,2693,Technology,"[Los Angeles, CA]",name + 70,5,Los Angeles,CA,0.0,-1,0.0,-1.0
26,Software Engineer,1st,5796xxxxxxx@gmail.com,Doctorate,7530,Biotech,"[Los Angeles, CA]",name + 5101,5,Los Angeles,CA,0.0,-1,0.0,-1.0
27,Data Scientist,1st,8623xxxxxxx@gmail.com,Doctorate,2075,Biotech,"[Los Angeles, CA]",name + 2812,5,Los Angeles,CA,0.0,-1,0.0,-1.0
28,Data Scientist,1st,79xxxxxxx@gmail.com,Doctorate,9191,Biotech,"[Los Angeles, CA]",name + 673,5,Los Angeles,CA,0.0,-1,0.0,-1.0
29,Software Engineer,1st,8998xxxxxxx@gmail.com,Doctorate,2463,Internet,"[Los Angeles, CA]",name + 5307,5,Los Angeles,CA,0.0,-1,0.0,-1.0
30,Data Scientist,1st,7752xxxxxxx@gmail.com,Doctorate,6210,Biotech,"[Los Angeles, CA]",name + 192,5,Los Angeles,CA,0.0,-1,0.0,-1.0
31,Bioengineer,1st,5785xxxxxxx@gmail.com,Doctorate,3476,Enterprise Software,"[Los Angeles, CA]",name + 6137,5,Los Angeles,CA,0.0,-1,0.0,-1.0
32,Bioengineer,1st,7066xxxxxxx@gmail.com,Doctorate,6665,Biotech,"[Los Angeles, CA]",name + 2025,5,Los Angeles,CA,0.0,-1,0.0,-1.0
33,Machine Learning Engineer,1st,8444xxxxxxx@gmail.com,Doctorate,6634,Technology,"[Los Angeles, CA]",name + 9628,5,Los Angeles,CA,0.0,-1,0.0,-1.0
34,Software Engineer,1st,8963xxxxxxx@gmail.com,Doctorate,5205,Enterprise Software,"[Los Angeles, CA]",name + 9931,5,Los Angeles,CA,0.0,-1,0.0,-1.0
35,Machine Learning Engineer,1st,795xxxxxxx@gmail.com,Doctorate,3631,Biotech,"[Los Angeles, CA]",name + 1631,5,Los Angeles,CA,0.0,-1,0.0,-1.0
36,Machine Learning Engineer,1st,6484xxxxxxx@gmail.com,Doctorate,9394,Technology,"[Los Angeles, CA]",name + 4919,5,Los Angeles,CA,0.0,-1,0.0,-1.0
37,Bioengineer,1st,4086xxxxxxx@gmail.com,Doctorate,5837,Internet,"[Los Angeles, CA]",name + 8976,5,Los Angeles,CA,0.0,-1,0.0,-1.0
38,Bioengineer,1st,4837xxxxxxx@gmail.com,Doctorate,7196,Enterprise Software,"[Los Angeles, CA]",name + 8589,5,Los Angeles,CA,0.0,-1,0.0,-1.0
39,Data Scientist,1st,9004xxxxxxx@gmail.com,Doctorate,5542,Technology,"[Los Angeles, CA]",name + 6185,5,Los Angeles,CA,0.0,-1,0.0,-1.0
40,Data Scientist,1st,8801xxxxxxx@gmail.com,Doctorate,6123,Technology,"[Los Angeles, CA]",name + 9830,5,Los Angeles,CA,0.0,-1,0.0,-1.0
41,Data Scientist,1st,7079xxxxxxx@gmail.com,Doctorate,7772,Biotech,"[Los Angeles, CA]",name + 2179,5,Los Angeles,CA,0.0,-1,0.0,-1.0
42,Software Engineer,1st,5048xxxxxxx@gmail.com,Doctorate,4202,Biotech,"[Los Angeles, CA]",name + 3624,5,Los Angeles,CA,0.0,-1,0.0,-1.0
43,Bioengineer,1st,4374xxxxxxx@gmail.com,Doctorate,4170,Biotech,"[Los Angeles, CA]",name + 2045,5,Los Angeles,CA,0.0,-1,0.0,-1.0
44,Data Scientist,1st,774xxxxxxx@gmail.com,Doctorate,7744,Enterprise Software,"[Los Angeles, CA]",name + 597,5,Los Angeles,CA,0.0,-1,0.0,-1.0
45,Software Engineer,1st,4072xxxxxxx@gmail.com,Doctorate,5749,Biotech,"[Los Angeles, CA]",name + 80,5,Los Angeles,CA,0.0,-1,0.0,-1.0
46,Machine Learning Engineer,1st,2430xxxxxxx@gmail.com,Doctorate,3529,Enterprise Software,"[Los Angeles, CA]",name + 7306,5,Los Angeles,CA,0.0,-1,0.0,-1.0
47,Software Engineer,1st,6783xxxxxxx@gmail.com,Doctorate,9550,Enterprise Software,"[Los Angeles, CA]",name + 646,5,Los Angeles,CA,0.0,-1,0.0,-1.0
48,Software Engineer,1st,189xxxxxxx@gmail.com,Doctorate,1683,Internet,"[Los Angeles, CA]",name + 3251,5,Los Angeles,CA,0.0,-1,0.0,-1.0
49,Machine Learning Engineer,1st,7672xxxxxxx@gmail.com,Doctorate,9263,Biotech,"[Los Angeles, CA]",name + 2619,5,Los Angeles,CA,0.0,-1,0.0,-1.0

# Heuristic Three: MORE NLP Driven Score Metric for Relevance

In [88]:
def heuristic_three(df):
    '''Arguments:
            opportunity: a dictionary from a poster seeking candidates
            df_candidates: total pool of 1st and 2nd degree connections from the opportunity poster
    '''
    pass